<footer class='footer'>
            <div class='container'>
                <div class="row container-fluid justify-content-center py-5">   
                    <a href="https://sesstim.univ-amu.fr/fr" class="col-md-4 d-flex justify-content-center link-dark text-decoration-none">
                     <h2 class="text-white"> SESSTIM </h2>
                    </a>
                </div>
                <div class="row d-flex justify-content-around">
                    <a href= "https://www.univ-amu.fr/" class='col-2 p-2'>
                        <img class="img_footer" src="{{url_for('.static', filename='pictures/amu-white-footer.png')}}">
                    </a>
                    <a href= "https://www.ird.fr/" class='col-2 p-2'>
                        <img class="img_footer" src="{{url_for('.static', filename='pictures/ird_1.png')}}">
                    </a>
                    <a href= "https://www.inserm.fr/" class='col-2 p-2'>
                        <img class="img_footer" src="{{url_for('.static', filename='pictures/insermseul_rvb_blanc.png')}}">
                    </a>
                </div>
                <div class="row d-flex justify-content-center">
                    <span> version : 1.2 </span>
                </div>
            </div>
</footer>

